extends layout

block content
	header(class='header bg-light')
		div(class='') 
			div(class='container pt-5')
				div(class='row flex justify-content-center align-items-center')
					div(class='col-md-6 order-2 order-lg-1')
						h1(class='px-0 mb-4 large-text font-weight-bold') Best Electrical Services with Repairs
						p(class='px-0 mb-5'). 
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

						p(class='mt-5')
							a(class='btn btn-primary px-5 mr-4', href='https://wa.me/2348136974417') Chat
							a(class='btn btn-dark px-5', href='mailto:amodaopeyem8@gmail.com') Email

					div(class='col-md-6 ot-holder order-1 order-lg-2')
						img(src='/images/two.png', class='ot-img')

	div(class='bg-light pb-5')
		div(class='container about')
			div(class='shadow-sm bg-white p-4', style='border-radius: 20px')
				div(class='row')
					div(class='col-md-5 d-flex justify-content-center align-items-center')
						div
							p
								i(class="fas fa-lightbulb bulb")

							p(class='text-center mt-4')
								label(class='switch')
									input(type='checkbox', class='light')
									span(class='slider')

					div(class='col-md-7')
						h4(class='mb-2 font-weight-bold') About Me
						P(class='mb-4') 
							b
								i(class='text-muted') OT Electrican

						p. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

						p(class='mt-4')
							a(class='btn btn-dark px-5 mr-4', href='https://wa.me/2348136974417') Message


	div(class='py-5')
		div(class='container services')
			h4(class='h1 mb-2 font-weight-bold') Services
			p(class='sub-heading text-muted') Best of its kinds

			p(class='col-md-8 px-0 mb-5'). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			div(class='row card-deck')
				div(class='col-md-4 px-lg-0')
					div(class='card bg-dark text-center')
						div(class='card-body')
							p(class='mb-4') 
								span(class='counter') 1

							h4(class='h4 card-title text-white') Installation

							p(class='card-text text-white'). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.

							p(class='my-4') 
								a(class='btn btn-outline-warning px-5') DM

				div(class='col-md-4 px-lg-0')
					div(class='card bg-dark text-center')
						div(class='card-body')
							p(class='mb-4') 
								span(class='counter') 2

							h4(class='h4 card-title text-white') Networking

							p(class='card-text text-white'). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.

							p(class='my-4') 
								a(class='btn btn-outline-warning px-5') DM


				div(class='col-md-4 px-lg-0')
					div(class='card bg-dark text-center')
						div(class='card-body')
							p(class='mb-4') 
								span(class='counter') 3

							h4(class='h4 card-title text-white') CCTV

							p(class='card-text text-white'). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.

							p(class='my-4') 
								a(class='btn btn-outline-warning px-5') DM

	div(class='bg')
		div(class='dark-layer py-5 d-flex justify-content-center align-items-center')
			div(class='container owl-carousel owl-theme')
				div(class='col-md-10 m-auto item')

					div(class='text-center')
						p(class='')
							img(src='images/header.jpg', class='img')
						span(class='quote')
							i(class="fa fa-quote-left text-warning" aria-hidden="true")
					br

					p(class='text-white mt-3'). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


					p(class='font-weight-bold text-warning text-center mt-5') Taofeeq Domain


				div(class='col-md-10 m-auto item')

					div(class='text-center')
						img(src='images/header.jpg', class='img')
						span(class='quote')
							i(class="fa fa-quote-left text-warning" aria-hidden="true")
					br

					p(class='text-white mt-3'). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


					p(class='font-weight-bold text-warning text-center mt-5') Taofeeq Domain


				div(class='col-md-10 m-auto item')

					div(class='text-center')
						img(src='images/header.jpg', class='img')
						span(class='quote')
							i(class="fa fa-quote-left text-warning" aria-hidden="true")
					br

					p(class='text-white mt-3'). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


					p(class='font-weight-bold text-warning text-center mt-5') Taofeeq Domain


	div(class='container-fluid py-5')
		div(class='container py-4')
			div(class='col-lg-8 mx-auto')
				h2 Subscribe to our Newsletter
				p(class='mb-5 text-muted') We will keep you us with updates

				form(action='/subscribe', method='POST')
					div(class='form-row')
						div(class='col-md-9 mb-4')
							input(type='text', class='form-control py-4', required='required', placeholder='Enter Email')
						div(class='col-md-3')
							button(class='btn btn-outline-danger px-4 btn-lg') Subscribe